.header{
   background-color: black;
}

.inline{
    display: inline-block;
}

a{
    text-decoration: none;
    font-size: 1rem;
    color: white;
    margin-left: 10px;
}

#logo{
    width: 100px;
    margin: 10px;
}

.verticalmiddle{
    vertical-align: middle;
}

.rightHeaderItems{
    float: right;
    margin: 10px 20px 10px 0px;
}

